<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job">
  <actions>
    <org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction plugin="workflow-multibranch">
      <jobPropertyDescriptors>
      </jobPropertyDescriptors>
    </org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction>
  </actions>
  <description>{{ description |default("") }}</description>
  <keepDependencies>false</keepDependencies>
  {%- if properties %}
  <properties>
    {%- if properties.parameters %}
    {%- for _parameter in parameters %}
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        {%- if _parameter.type == "buildName" %}
        {%- set _buildName = _parameter %}
        <cn.opsbox.jenkinsci.plugins.oes.parameter.BuildNameParameterDefinition plugin="oes-pipeline">
          <name>{{ _buildName.name }}</name>
          <jobName>{{ _buildName.jobName }}</jobName>
          <countLimit>{{ _buildName.countLimit | default(10) }}</countLimit>
        </cn.opsbox.jenkinsci.plugins.oes.parameter.BuildNameParameterDefinition>
        {%- endif %}
        {%- if _parameter.type == "listGitBranches" %}
        {%- set _listGitBranches = _parameter %}
        <com.syhuang.hudson.plugins.listgitbranchesparameter.ListGitBranchesParameterDefinition plugin="list-git-branches-parameter">
          <name>{{ _listGitBranches.name }}</name>
          <remoteURL>{{ _listGitBranches.remoteURL }}</remoteURL>
          <credentialsId>{{ _listGitBranches.credentialsId | default("jenkins-gitlab") }}</credentialsId>
          <quickFilterEnabled>{{ _listGitBranches.quickFilterEnabled | default("true")}}</quickFilterEnabled>
          <type>{{ _listGitBranches.type | default("PT_BRANCH") }}</type>
          <tagFilter>{{ _listGitBranches.tagFilter | default("*") }}</tagFilter>
          <branchFilter>{{ _listGitBranches.branchFilter | default(".*") }}</branchFilter>
          <sortMode>{{ _listGitBranches.sortMode | default("DESCENDING_SMART") }}</sortMode>
          <selectedValue>{{ _listGitBranches.selectedValue | default("TOP") }}</selectedValue>
        </com.syhuang.hudson.plugins.listgitbranchesparameter.ListGitBranchesParameterDefinition>
        {%- endif %}
        {%- if _parameter.type == "choice" %}
        {%- set _choice = _parameter %}
        <hudson.model.ChoiceParameterDefinition>
          <name>{{ _choice.name }}</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              {%- for _v in _choice.choices %}
              <string>{{ _v }}</string>
              {%- endfor %}
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        {%- endif %}
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    {%- endfor %}
    {%- endif %}
  </properties>

  {%- endif %}
  <definition class="cn.opsbox.jenkinsci.plugins.cps.OesTemplateFlowDefinition" plugin="oes-template">
    {%- if oesTemplate.consoleProvider %}
    {% set _consoleProvider = oesTemplate.consoleProvider %}
    <configProvider class="cn.opsbox.jenkinsci.plugins.cps.ConsoleOesTemplateFlowDefinitionConfiguration">
      <script>{{ _consoleProvider.script }}</script>
    </configProvider>
    {%- endif %}
    {%- if oesTemplate.scmProvider %}
    {% set _scmProvider = oesTemplate.scmProvider %}
    <configProvider class="cn.opsbox.jenkinsci.plugins.cps.ScmOesTemplateFlowDefinitionConfiguration">
      <scm class="hudson.plugins.git.GitSCM" plugin="git">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
            <url>{{ _scmProvider.gitSCM.url }}</url>
            <credentialsId>{{ _scmProvider.gitSCM.credentialsId }}</credentialsId>
          </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
          <hudson.plugins.git.BranchSpec>
            <name>{{ _scmProvider.gitSCM.branch }}</name>
          </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="empty-list"/>
        <extensions/>
      </scm>
      <scriptPath>{{ _scmProvider.scriptPath }}</scriptPath>
    </configProvider>
    {%- endif %}
    {%- if oesTemplate.configFileProvider %}
    {% set _configFileProvider = oesTemplate.configFileProvider %}
    <configProvider class="cn.opsbox.jenkinsci.plugins.cps.ConfigFileProviderOesTemplateFlowDefinitionConfiguration">
      <scriptId>{{ _configFileProvider.scriptId }}</scriptId>
    </configProvider>
    {%- endif %}
    <parameters>{{ oesTemplate.parameters | default("") }}</parameters>
  </definition>
  <disabled>false</disabled>
</flow-definition>
